@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import url("https://fonts.cdnfonts.com/css/cocogoose");

:root {
  --dark: #272a31;
  --red-like: #ec5242;
  --light: #d3d3d3;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style-type: none;
  font-family: "Lato", sans-serif;
}

header {
  position: fixed;
  min-width: 100vw;
}

#mobile-menu {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0 , 0, .5);
  opacity: 1;
  z-index: 9;
}

.humburger {
  margin-left: 6.5%;
  margin-top: 12px;
  cursor: pointer;
}

.mobile-menu-list {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 70vw;
  padding: 16px 10%;
  background-color: rgba(156, 156, 156, .98);
  z-index: 10;

}

.mobile-menu-item {
  display: flex;
  align-items: center;
  font-size: 24px;
  font-weight: 700;
}

.mobile-menu-item a {
  font-family: "cocogoose", sans-serif;
  font-weight: 700;
  font-size: 24px;
}


.nav-bar {
  display: none;
}

#nav-bar1 {
  background-color: var(--dark);
  display: flex;
  justify-content: flex-end;
}

.nav-bar1-list {
  display: flex;
  gap: 12px;
  justify-content: flex-end;
  align-items: center;
  margin-right: 6.4%;
}

.nav-bar1-list a {
  color: white;
  font-size: small;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social {
  color: white;
  margin-right: 12px;
}

.social a {
  padding-left: 8px;

}

#nav-bar2 {
  color: var(--dark);
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 1% 6.4%;
}

#logo {
  width: 120px;
  height: 31px;
  background-image: url('assets/img/logo.png');
  background-size: cover;
}

.nav-bar2-list {
  display: flex;
  gap: 24px;
  justify-content: flex-end;
  align-items: center;
}

#exhibition {
  border: 3px solid var(--red-like);
  padding: 8px;
  margin-left: 24px;
}

#exhibition a {
  color: var(--red-like);
}

#headline-section {
  background-image: url("assets/img/Background1.png");
  background-repeat: no-repeat;
  background-size: cover;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 15% 6.4%;
  padding-top: 20%;
  gap: 12px;
}

#headline-title {
  font-family: "cocogoose", sans-serif;
  color: transparent;
  background-image: url(assets/img/background2.png);
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-background-clip: text;
  background-clip: text;
  line-height: 1em;
}

.subtitle {
  color: var(--red-like);
}

.description {
  border: 1px solid white;
  background-color: var(--light);
  padding: 12px;
  max-width: 478px;
}

.schedule {
  font-family: "cocogoose", sans-serif;
  font-size: 20px;
  font-weight: 700;
}

#location {
  font-weight: 16px;
}





@media (min-width: 768px) {
  .humburger {
    display: none;
  }
  
  .nav-bar {
    display: block;
  }

  #mobile-menu {
    display: none;
    position: static;
  }

  .mobile-menu-list {
    display: none;
  }

  #headline-section {
    height: 100vh;
  }

  #headline-title {
    font-size: 3.5em;
  }

  .subtitle {
    font-size: 2em;
  }
}